.therm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  label {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
  }
  
  select {
    font-size: 16px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #555;
  }
  
  select:focus {
    outline: none;
    border-color: #6d9bf1;
    box-shadow: 0 0 3px #6d9bf1;
  }
  
  
  
  .thermometer {
    border: 2px solid black;
    width: 120px;
    height: 200px;
    margin: 50px auto;
    position: relative;
    border-radius: 5px 5px 10px 10px ;
  }
  
  .mercury {
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 100%;
    transition: height 0.5s ease-in-out;
    border-radius: 0px 0px 10px 10px ;
  }
  
  .temperature {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    
  }
  
  .condition {
    text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 30px; 
  line-height: 30px;
  }

  .battery-rectangle {
    position: absolute;
    margin-top: 30px;
    margin-left:55px;
     /* Adjust the position of the rectangle as needed */
    width: 50px; /* Rectangle width */
    height: 20px; /* Rectangle height */
    background-color: #000; /* Rectangle color */
    border-radius: 10px 10px 0px 0px ;
  }
  
  .battery-image {
    position: absolute;
    margin-top: 80px;
    margin-left:8px;
    /* Adjust the image position as needed */
    width: 100px; /* Adjust the image width as needed */
    height: 130px; /* Adjust the image height as needed */
  }